# Ignore virtual environment
myenv/

# Ignore model checkpoint folder
backend/not_needed/peft-snowboard-llm-checkpoint-local/

#user will generate this on first launch
backend/products.json

#additional things to ignore for react
#REMOVE AS NEEDED
node_modules/

.DS_Store
Thumbs.db

build/

.idea/
*.log
*.swp
*.swo
